h1 {
  color: red;
  font-size: 48px;
}

h1 {
  color: purple;
}

#my-article {
  background-color: black;
  color: white;
}

.main-article {
  background-color: #37474F;
  color: #FFD966;
}

/* Specificity: 0 0 1 1 */
.secondary-article h3 {
  font-style: italic;
}

/* Specificity: 0 0 2 3 */
.header nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Specificity: 0 0 1 2 */
.main-article p::first-line {
  color: white;
}

.main-article p::first-letter {
  font-size: 48px;
}

.secondary-article {
  background-color: white;
  color: black;
}

article {
  background-color: #37474F;
  color: #FFD966;
}

/* Enhancements */

html {
  font-size: 18px;
}

body {
  background-color: #37474F;
  color: white;
}

h1 {
  color: #FFD966;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.header {
  background-color: white;
}

.header .logo {
  width: 100px;
  text-align: center;
}

.header .logo a {
  text-decoration: none;
  color: #444;
  font-size: 1.5rem;
}

.header .logo a:hover {
  color: #CCC;
}

.header nav ul li {
  color: #444;
}

.secondary-container .secondary-article {
  color: #444;
}

.date-small {
  font-size: 0.8rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

/* Display */

.secondary-container .secondary-article {
  width: 50%;
  height: 200px;
}

.main-container .main-article span {
  background-color: white;
  color: #444;
  width: 200px;
  height: 100px;
}

header ul li {
  display: inline-block;
  width: 25%;
  height: 50px;
  text-align: center;
  /* https://acncuc.medium.com/a-simple-css-horizontal-navigation-bar-using-inline-block-c507c581db69 */
  margin-right: -4px;
}

/* Box model */

.secondary-article {
  padding: 50px;
  padding-bottom: 0;
  border: 4px solid #FFD966;
  margin: 20px;
  box-sizing: border-box;
}

.main-container .main-article span {
  padding: 100px;
  margin: 30px;
  display: inline-block;
}

/* Final adjustments */

.header ul li {
  height: auto;
  padding: 15px 0;
}

.main-article {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0;
}

.secondary-article {
  margin: 20px auto;
}

.header, .main-container, .secondary-container {
  padding: 0 10%;
}

footer {
  padding: 20px 10%;
}

footer p {
  margin-bottom: 20px;
}

/* Reset elements */

body, ul, p {
  margin: 0;
  padding: 0;
}
